
#nav-bar {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #00a087;
  height: 80px;
  padding: 0em 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  color: #e8fdff;
  position: relative;
  padding: 10px 0px;
  float: left;
  font-size: 200%;
  line-height: 2;
